.checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1px;
}

.checkbox {
  padding: 10px;
  border-radius: 5px;
}

.checkbox:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.checkboxLabel {
  margin-left: 5px;
}

.title {
  margin-left: 10px;
  font-size: 20px;
}
